
.cbuttonDesign {
    height: 2em;
    width: 10em;
    background-color: rgb(189, 189, 189); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.cbuttonDesign:hover {
    cursor: pointer;
    transition: 0.2;
    background-color: rgb(143, 143, 143);
}


.updateButton {
    height: 2em;
    width: 10em;
    background-color: rgb(189, 189, 189); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    color: black;
    font-weight: bold;
    transition: 0.3s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.updateButton:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(143, 143, 143);
}

.allowButton{
    height: 2em;
    width: 10em;
    background-color: rgb(218, 218, 218);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    color: black;
    font-weight: bold;
    transition: 0.5s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.allowButton:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(170, 170, 170);
}

.hideInputsButton{
    height: 2em;
    width: 10em;

    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
    color:rgb(0, 0, 0);
    background-color: rgb(92, 92, 92);
    
    font-weight: bold;
    transition: 0.3s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.hideInputsButton:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(93, 93, 93);
}

.writePostButton{
    height: 2em;
    width: 10em;
    background-color: rgb(92, 92, 92);
    font-size: 0.8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1em;
    margin-bottom: 1em;

    
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.writePostButton:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(104, 104, 104);
}


.sendPostCommunityButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}