
.inputDesign {
    height: 3em;
    width: 18em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
    display: flex;
}

.inputTitleDesign {
    height: 5em;
    width: 22em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
    display: flex;
}

.inputDescriptionHomeDesign {
    height: 18em;
    width: 40em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
    display: flex;
}


.inputDesignError{
    border: 0.15em solid rgb(255, 0, 0);
}

.inputDescriptionHomeDesignError{
    border: 0.15em solid rgb(255, 0, 0);
}

.inputPicUrlCommunityDesign{
    height: 3em;
    width: 22em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;

}

.inputTitleCommunityDesign{
    height: 3em;
    width: 22em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
}

.inputTopicCommunityDesign{
 
    height: 3em;
    width: 22em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
}

.inputNicknameHomeDesign{
    height: 3em;
    width: 22em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    margin: 1em;
}