
.detailLatestDesign{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailLatestContainer{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postFields{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}