
.detail{
    display: flex;
    flex-direction: column;
}

.myPostCard{
    height: 5em;
}
.PostCard {
    height:1em;
}
.editButton{
    height: 2em;
    background-color: red;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}